# Send-Attach.desktop
# Sends selected files as Kmail attachments.
# v4.0.5 
# Tested with KDE 4.7.2

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Actions=openKmailAttachment
Encoding=UTF-8
MimeType=application/octet-stream
ExcludeServiceTypes=application/x-iso,kdedevice/*,inode/directory

[Desktop Action openKmailAttachment]
Name=Send File As Attachment
Name[cz]=Odeslat soubor e-mailem
Name[de]=Datei als Anhang versenden
Name[en]=Send File As Attachment
Name[es]=Enviar como archivo adjunto
Name[fr]=Envoyer le fichier en pièce jointe
Name[pt]=Enviar por correio-e
Name[pt_BR]=Enviar arquivo como anexo
Name[sk]=Poslať e-mailom

Icon=kmail
Exec=kmail --composer --attach %F `echo attachment=\'file://%F\' | sed 's/ \//,file:\/\/\//g'`
X-Ubuntu-Gettext-Domain=desktop_kdebase
